GtkCalendar {
  border-radius: 0px;
}

GtkCalendar.button,
GtkCalendar.button:insensitive,
GtkCalendar.button:backdrop,
GtkCalendar.button:insensitive:backdrop,
GtkCalendar.header,
GtkCalendar.view {
  background-image: none;
  background-color: transparent
}

.highlight,
GtkCalendar.highlight {
  background-color: @transparent;
  color: #777;
  border-width: 0;
}
