GtkColorChooserWidget .scale {
  -GtkScale-slider-length: 15;
  -GtkRange-slider-width: 15;
  -GtkRange-trough-border: 0;
}

GtkColorChooserWidget .scale.slider,
GtkColorChooserWidget .scale.slider:prelight {
	border-style: solid;
  border-width: 1px;
  background-color: @transparent;
  border-radius: 10px;
  border-color: @border_normal;
  -unico-inner-stroke-color: alpha (#FFF, 0.6);
  -unico-inner-stroke-width: 2px;
  -unico-centroid-texture: none;
}

GtkColorChooserWidget .scale.slider.vertical {
  -unico-centroid-texture: none;
}

GtkColorSwatch {
  border-radius: 0;
}

GtkColorSwatch.left,
GtkColorSwatch:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

GtkColorSwatch.right,
GtkColorSwatch:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

GtkColorSwatch:only-child {
  border-radius: 2px;
}

GtkColorSwatch.top {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

GtkColorSwatch.bottom {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

GtkColorChooserWidget #add-color-button {
  border-style: solid;
  border-width: 1px;
  border-color: shade (@border_normal, 1.26);
  background-color: shade(@bg_normal, 0.95);
  color: @fg_normal;
}

GtkColorChooserWidget #add-color-button:hover {
  border-color: shade (@border_normal, 1.16);
  background-color: shade(@bg_normal, 0.90);
  color: @fg_selected;
}

.color-active-badge,
.color-active-badge:selected {
  background-color: @transparent;
}


GtkColorEditor GtkColorSwatch {
  border-radius: 2px;
}
